<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Nova Candidatura</title>
</head>

<body>
  <table width="100%" cellpadding="0" cellspacing="0" style="background: #f3f3f3">
    <tr align="center">
      <td>
        <table width="700" cellpadding="0" cellspacing="10" style=" margin: 20px; padding: 20px 50px; border-radius: 6px; background-color: #fff; font-family: sans-serif;">

          <tr align="center">
            <td>
              <h1 style="font-size: 24px; color: #333;">
                Nova Candidatura Recebida
              </h1>
            </td>
          </tr> 

          <tr>
            <td style="padding: 20px">
              <p>Nome: <%= firstName %> </p>
              <p>Sobrenome: <%= lastName %> </p>
              <p>Email:  <%= email %> </p>
              <p>Nº Telefone:  <%= phone %> </p>
              <p>Gênero:  <%= gender %> </p>
            </td>
          </tr>

          <tr>
            <td>
              <hr style="width: 100%; height: 1px; background-color: #ff5555" />
            </td>
          </tr>

          <tr align="center">
            <td>
              <p style="color: #777;">&copy; 2025 Lotaria Nacional de Angola</p>
            </td>
          </tr>

        </table>
      </td>
    </tr>
  </table>
</body>

</html>